a:hover{text-decoration: none;}

.nav_menu{display: none;}
.tit{height:60px; padding:20px 0;
    .category{float:left;
        a{color:#333;}
        a:hover{color:#f00;}
        .category_tit{float:right; width:200px;
            >a{width:135px; height:25px; text-align: center; border:1px solid #fff; float:left; }
            .category_menu{ width:340px; height:70px; border:1px solid #f00; background:#fff; margin-top:6px; display:none;
                li{float:left; margin:10px 40px 0 10px;}
            }
            &:hover .category_menu{ display:block;}
            &:hover a{border-color:#f00; border-bottom-color:#fff;}
        }
    }
    .clean{float:right;}
}
